/* Colors */

/*.articles-grid li {
    background: #33CCCC;
    border: 2px solid black;
    color: black;
}

.articles-grid li:nth-child(1) {
    background: rgba(0, 0, 0, .2);
}

.articles-grid li:nth-child(2) {
    background: #fff;
}

.articles-grid li:nth-child(3) {
    background: #fff;
}

.articles-grid li:nth-child(4) {
    background: rgba(0, 0, 0, .2);
}

.articles-grid li:nth-child(5) {
    background: #fff;
}

.articles-grid li:nth-child(6) {
    background: rgba(0, 0, 0, .2);
}

.articles-grid li:nth-child(7) {
    background: rgba(0, 0, 0, .2);
}

.articles-grid li:nth-child(8) {
    background: #669999;
}

.articles-grid li:nth-child(9) {
    background: #CC6699;
}

.articles-grid li:nth-child(10) {
    background: #339966;
}

.articles-grid li:nth-child(11) {
    background: #666699;
}

.articles-grid li:nth-child(12) {
    background: #996699;
}

.articles-grid li:nth-child(13) {
    background: #C24747;
}

.articles-grid li:nth-child(14) {
    background: #e2674a;
}

.articles-grid li:nth-child(15) {
    background: #FFCC66;
}

.articles-grid li:nth-child(16) {
    background: #99CC99;
}*/