pre {
    text-align: left;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

pre {
    background-color: #fbfbfb;
    border: 0px solid #DEDEDE;
    border-radius: 0px;
    font-size: 13px;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.input_prompt {
    display: none;
}

.input_area pre {
    border: 1px solid rgb(111, 111, 111);
}


.article_analysis {
    margin-top: 50px;
    margin-bottom: 50px;
}

section.comments {
    display: none !important;
}

.input_prompt {
    display: none;
}

.output_prompt {
    display: none;
}
.rendered .input {
    margin-bottom: 25px;
    margin-top: 25px;

}

.rendered th {
    text-align: center;
}

.dataframe thead tr:only-child th {
    text-align: center !important;
    padding: 5px !important;
}

.anchor-link {
    display: none;
}

.rendered h1 {
    font-size: 20px !important;
    text-align: left !important;
}

.rendered h2 {
    font-size: 18px !important;
    text-align: left !important;
}

.rendered h3 {
    font-size: 16px !important;
    text-align: left !important;
}

.rendered h4 {
    font-size: 14px !important;
    text-align: left !important;
}

.output_wrapper {
    margin-bottom: 25px;
}

.dataframe {
    min-width: 70%;
    margin: auto;
}